<a href="https://colab.research.google.com/github/jpshimidt/DataScience/blob/main/%5BBootCamp%5D08_Aula.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
# Libs Necessarias
import pandas as pd
import numpy as np

# Libs gráficas
import matplotlib.pyplot as plt
import seaborn as sns

# Avisos
import warnings
warnings.filterwarnings('ignore')

In [19]:
#Ler Dados
Base_Dados = pd.read_csv('diabetes.csv')

# Dimensao
Base_Dados.shape

(768, 9)

In [20]:
#Verificar as infos
Base_Dados.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [21]:
# Renomenado as Colunas
Base_Dados.rename( columns={
    'Pregnancies' : 'Gravidezes',
    'Glucose' : 'Glicose',
    'BloodPressure' : 'Pressão sanguínea',
    'SkinThickness' : 'Espessura da Pele',
    'Insulin' : 'Insulina',
    'BMI' : 'IMC',
    'Diabetes Pedigree Function' : 'Função de linhagem de diabetes',
    'Age' : 'Idade',
    'Outcome' : 'Resultado',
}, inplace=True )

In [22]:
# Verificando as colunas
Base_Dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Gravidezes                768 non-null    int64
 1   Glicose                   768 non-null    int64
 2   Pressão sanguínea         768 non-null    int64
 3   Espessura da Pele         768 non-null    int64
 4   Insulina                  768 non-null    int64
 5   IMC                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Idade                     768 non-null    int64
 8   Resultado                 768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [23]:
#Analisar o classificar/ Previsao
Base_Dados['Resultado'].value_counts(normalize=True)* 100

0    65.104167
1    34.895833
Name: Resultado, dtype: float64

In [24]:
#Separação dos Dados

#Caracteristicas
Var_Caracteristicas = Base_Dados.drop(columns=['Resultado'])
Var_Previsao = Base_Dados['Resultado']

#Separacao dos treinos e Teste
from sklearn.model_selection import train_test_split

#Separacao
x_treino,x_teste,y_treino,y_teste = train_test_split(
    Var_Caracteristicas,Var_Previsao,
    test_size=0.2, random_state=10
)

print(f'Dados de treino {len(x_treino)}')
print(f'Dados de treino {len(x_teste)}')

Dados de treino 614
Dados de treino 154

In [25]:
#Criar modelo de regressão logistica
from sklearn.linear_model import LogisticRegression

#Aplicando a funcao
Funcao_Logistica = LogisticRegression()

#Fitando o modelo
Funcao_Logistica.fit(x_treino,y_treino)

LogisticRegression()

In [26]:
# Fazendo um teste da Probabi
print('Verificar a probabilidade:', Funcao_Logistica.predict_proba( [[4, 90, 72, 29, 100, 32, 0.3, 29 ]] ) )
print('Classificar:', Funcao_Logistica.predict( [[4, 90, 72, 29, 100, 32, 0.3, 29 ]] ) )

Verificar a probabilidade: [[0.90050853 0.09949147]]
Classificar: [0]

In [27]:
# Avaliar o modelo
Previsao = Funcao_Logistica.predict( x_teste )

from sklearn.metrics import confusion_matrix

print( 'Matriz de confusão: \n', confusion_matrix( y_teste, Previsao ) )

Matriz de confusão:
 [[88  7]
 [29 30]]