<a href="https://colab.research.google.com/github/jpshimidt/DataScience/blob/main/Dia_3_BOOTCAMP_Coleta_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Coleta de Dados - DIA 3 - BOOTCAMP DATAVIKINGS

## Exemplo de utilização com uma API para coleta e consumo de DADOS

In [10]:
#Importando Libs
import requests
from pandas import DataFrame

In [11]:
# Exemplo do uso de uma API para coleta de dados
Conexao = requests.get(f'https://viacep.com.br/ws/02247000/json/')
Retorno = Conexao.json()

Retorno

{'bairro': 'Parada Inglesa',
 'cep': '02247-000',
 'complemento': '',
 'ddd': '11',
 'gia': '1004',
 'ibge': '3550308',
 'localidade': 'São Paulo',
 'logradouro': 'Rua Borges',
 'siafi': '7107',
 'uf': 'SP'}

In [12]:
# Organizando o dictionary em um Data Frame
DataFrame(Retorno, index=[0])

         cep  logradouro complemento          bairro  ...     ibge   gia ddd siafi
0  02247-000  Rua Borges              Parada Inglesa  ...  3550308  1004  11  7107

[1 rows x 10 columns]

In [13]:
#Funcao para buscar CEO
def Buscar_CEP(Numero_CEP) :

  # Recebe o valor da Funçao
  Valor = str(Numero_CEP)

  #Conexão
  Conexao = requests.get(f'https://viacep.com.br/ws/{Valor}/json/')

  #Armazena o retorno e converte para um dicionario
  Retorno = Conexao.json()

  # Ler o dicionario e converter para uma tabela
  Base = DataFrame(Retorno, index=[0])

  return Base

In [14]:
#Lista com CEPS
Lista_Ceps = ['02247000','09132240']

#Loop para buscar os CEPS
for Loop in Lista_Ceps :
  try:
    print(Buscar_CEP(Loop))

  except:
    print('Deu errado')

         cep  logradouro complemento          bairro  ...     ibge   gia ddd siafi
0  02247-000  Rua Borges              Parada Inglesa  ...  3550308  1004  11  7107

[1 rows x 10 columns]
         cep  logradouro complemento      bairro  ...     ibge   gia ddd siafi
0  09132-240  Rua Celina              Vila Suíça  ...  3547809  6269  11  7057

[1 rows x 10 columns]

##Web Scraping = Extracao + Manual

In [17]:
#Importando libs
from bs4 import BeautifulSoup

In [16]:
# Endereço site
Site = 'http://www.ssp.sp.gov.br/Estatistica/ViolenciaMulher.aspx'

#Conexao
Pagina = requests.get(Site)

#Verificando a conexao
print(Pagina)

<Response [200]>

In [21]:
#Coletando as informações da página
Coleta = BeautifulSoup(Pagina.text,'html.parser')

#Exemplo - Acessando o titulo
print(Coleta.title)
print(Coleta.title.name)
print(Coleta.title.string)

<title>
	SSP
</title>
title

	SSP

In [22]:
# Localizar todas as tabelas
Tabelas = Coleta.find_all('table', attrs={'class': 'table table-striped table-hover table-condensed'} )

# Verificando
print( f'Foram localizadas: {len(Tabelas)} tabelas' )

Foram localizadas: 124 tabelas

In [24]:
# Listas pata guardar valores
Rotulos = []
Dados = []
Periodo = []

# Variavel de Apoio
Loop = 0

for Consulta in Tabelas:
  
  # Localizar a linha da tabela
  Linha = Consulta.find_all('tr')[2]

  # acessando o Rotulo
  Rotulo = Linha.find_all('td')[0].text

  # acessando a Informação
  Informacao = Linha.find_all('span')[0].text

  if Rotulo == 'FEMINICÍDIO':
    Rotulos.append( Rotulo )
    Dados.append( Informacao )

  else:
    pass

In [25]:
# Criar um Dicionaio
Dicionario = {
    'Rotulo' : Rotulos,
    'Quantidade' : Dados
}

# Criando a tabela
Base_Dados = DataFrame( Dicionario )

# Verificando
Base_Dados

         Rotulo Quantidade
0   FEMINICÍDIO         10
1   FEMINICÍDIO          9
2   FEMINICÍDIO          9
3   FEMINICÍDIO          6
4   FEMINICÍDIO          8
5   FEMINICÍDIO          8
6   FEMINICÍDIO          7
7   FEMINICÍDIO         26
8   FEMINICÍDIO         10
9   FEMINICÍDIO         21
10  FEMINICÍDIO         11
11  FEMINICÍDIO         11
12  FEMINICÍDIO         19
13  FEMINICÍDIO         20
14  FEMINICÍDIO         14
15  FEMINICÍDIO         17
16  FEMINICÍDIO          8
17  FEMINICÍDIO         13
18  FEMINICÍDIO          8
19  FEMINICÍDIO          9
20  FEMINICÍDIO         21
21  FEMINICÍDIO         20
22  FEMINICÍDIO         18
23  FEMINICÍDIO         12
24  FEMINICÍDIO         27
25  FEMINICÍDIO         17
26  FEMINICÍDIO         18
27  FEMINICÍDIO         19
28  FEMINICÍDIO         13
29  FEMINICÍDIO          5
30  FEMINICÍDIO         11
31  FEMINICÍDIO         19
32  FEMINICÍDIO         16
33  FEMINICÍDIO         13
34  FEMINICÍDIO         12
35  FEMINICÍDIO         14
36  FEMINICÍDIO         15
37  FEMINICÍDIO          9
38  FEMINICÍDIO         17
39  FEMINICÍDIO         11
40  FEMINICÍDIO         11
41  FEMINICÍDIO         16
42  FEMINICÍDIO          6
43  FEMINICÍDIO         16
44  FEMINICÍDIO         14
45  FEMINICÍDIO          8
46  FEMINICÍDIO          8
47  FEMINICÍDIO          5