<a href="https://colab.research.google.com/github/jpshimidt/DataScience/blob/main/Dia_01_Bootcamp_Data_Vikings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Notebook do primeiro dia do Bootcamp de Dados - DATA VIKINGS

## Exemplo do que o Python pode realizar

In [64]:
#Importando pacote de trabalho
import pandas as pd

In [65]:
# Exemplo da lib Pandas capturando dados de sites
Tabela_Filmes = pd.read_html('https://pt.wikipedia.org/wiki/Lista_de_filmes_de_maior_bilheteria')
Tabela_Filmes[0].head()

   Ranking   Ano  ... Bilheteria (US$) Ref.
0        1  2009  ...    2 847 246 203  [1]
1        2  2019  ...    2 797 501 328  [2]
2        3  1997  ...    2 201 647 264  [3]
3        4  2015  ...    2 068 223 624  [4]
4        5  2018  ...    2 048 359 754  [5]

[5 rows x 6 columns]

In [66]:
#import pacote Request (Exemplo com API's)
import requests

#Realizando a conexão
Conexao = requests.get('https://api.adviceslip.com/advice')

#Verificando a resposta
Conexao.json()

{'slip': {'advice': "Try to do the things that you're incapable of.",
  'id': 56}}

In [67]:
#Identificando sites

# Declarando a variável site
site = 'https://www.facebook.com/'

# Realizando a conexão
Conexao = requests.get(site)

#Verificando o cookies
Conexao.cookies

<RequestsCookieJar[Cookie(version=0, name='fr', value='0UGC4qaBvX43sj1ye..Bh-eBl.L6.AAA.0.0.Bh-eBl.AWU2kVFR7GQ', port=None, port_specified=False, domain='.facebook.com', domain_specified=True, domain_initial_dot=True, path='/', path_specified=True, secure=True, expires=1651541860, discard=False, comment=None, comment_url=None, rest={'httponly': None}, rfc2109=False), Cookie(version=0, name='sb', value='ZeD5YcyNEy5_isDpUbFXcM-y', port=None, port_specified=False, domain='.facebook.com', domain_specified=True, domain_initial_dot=True, path='/', path_specified=True, secure=True, expires=1706837861, discard=False, comment=None, comment_url=None, rest={'httponly': None}, rfc2109=False)]>

## Básico de Python

####Comando print

In [68]:
print ('Olá Mundo!')

Olá Mundo!

####Variáveis

In [69]:
# Tipos de variaveis
Variavel = 'Olá Mundo!'
print( Variavel )

Variavel_02 = 10
print( Variavel_02 )

Var_Inteiro = int ( 450 )
print( Var_Inteiro )

Var_Flutuante = float ( 10.50 )
Var_Flutuante_02 = 10.50
print( Var_Flutuante )
print( Var_Flutuante_02 )

Var_String = 'Qualquer Palavra'
Var_String_2 = str( 'Qualquer Palavra' )
print( Var_String )
print( Var_String_2 )

Var_Boleano = True
Var_Boleano_02 = False
print( Var_Boleano )
print( Var_Boleano_02 )

# Tipos de Dados

# Listas
Lista_01 = [ 1, 2, 3, 4, 5 ]
Lista_02 = [ 'Odemir', 'Bootcamp', 'Hoje', 4, 5]
Lista_03 = [ 1, 2, 'Odemir', True, False ]
print( Lista_01 )
print( Lista_02 )
print( Lista_03 )

# Tuplas - Imutavel
Tupla_01 = ( 2, 3, 4, 5 )
Tupla_02 = ( 'Hoje', 'Noite', 4, True )
print( Tupla_01 )
print( Tupla_02 )

# Dicionarios
Dicionario = {
    'Index':'Informação',
    'Nome':'Odemir Depieri',
    'Nascimento': '1992',
    'Salario': 1200,
    'Acesso_ao_Sistema': True,
    'Lista' : [1,2,3,4,5,6] }
print( Dicionario )

Olá Mundo!
10
450
10.5
10.5
Qualquer Palavra
Qualquer Palavra
True
False
[1, 2, 3, 4, 5]
['Odemir', 'Bootcamp', 'Hoje', 4, 5]
[1, 2, 'Odemir', True, False]
(2, 3, 4, 5)
('Hoje', 'Noite', 4, True)
{'Index': 'Informação', 'Nome': 'Odemir Depieri', 'Nascimento': '1992', 'Salario': 1200, 'Acesso_ao_Sistema': True, 'Lista': [1, 2, 3, 4, 5, 6]}

In [70]:
# Verificar Tipos de Dados

A = 1
B = 2.99
C = 'Ola!'
D = [1, 2, 3]
E = ( 1, 2, 3)
F = {'CPF': 123}
G = False

print( type(A) )
print( type(B) )
print( type(C) )
print( type(D) )
print( type(E) )
print( type(F) )
print( type(G) )

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>

In [71]:
#Nomeação de variáveis
##Exemplo 01
Odemir, Lucas, Marcelo = 1, 2, 3
print(Odemir, Lucas, Marcelo)

##Exemplo 02 (Não usual)
Odemir = Lucas = Marcelo = 1
print(Odemir, Lucas, Marcelo)

## Criando uma lista
Carros = ['VW', 'GM', 'FORD']

Marca_01, Marca_02, Marca_03 = Carros

print(Marca_01, Marca_02, Marca_03)

#Código Clean
Nome_Completo = 'Fulando'
Soma_Faturamento = float (1200.10)

print(Nome_Completo,Soma_Faturamento)

1 2 3
1 1 1
VW GM FORD
Fulando 1200.1

####Concatenação

In [72]:
##Exemplo 01
Nome = 'João'
Sobrenome = 'Pedro'
Nome_Completo = Nome + ' ' + Sobrenome

print(Nome_Completo)

#Exemplo 02
Dolar = 5.23
Imposto = 0.01
Valor_Conversao = Dolar + (Dolar * Imposto)

print(Valor_Conversao)

João Pedro
5.2823

####Comando Round (Arredondar)

In [73]:
Valor = 12.9163512635126

print( round(Valor, 4))
print( round(Valor, 2))
print( round(Valor, 0))

12.9164
12.92
13.0

####Listas

In [74]:
# Manipulação de Lista
Lista_Vazia = []
print( Lista_Vazia )
print( type(Lista_Vazia) )

# Append
Lista_Vazia.append( 1 )
Lista_Vazia.append( 'Nome' )
Lista_Vazia.append( True )
print( Lista_Vazia )

# Comando LEN
print( len( Lista_Vazia ) )

# Acessando posições
print( Lista_Vazia[0] )
print( Lista_Vazia[1] )
print( Lista_Vazia[-1] )
print( Lista_Vazia[0:2] )

# Excluir
del Lista_Vazia[-1]
print( Lista_Vazia )

# Limpando lista
print( Lista_Vazia.clear() )

[]
<class 'list'>
[1, 'Nome', True]
3
1
Nome
True
[1, 'Nome']
[1, 'Nome']
None

#####Comando input

In [75]:
Nome = input('Qual seu nome? ')
print('Olá ' + Nome)

Qual seu nome? João
Olá João

####Trabalhando com datas

In [76]:
#Framework Datetime para datas
from datetime import datetime

Data = '01/02/22'
Conversao = datetime.strptime(Data, '%d/%m/%y')

print(Conversao)
print(type(Conversao))

2022-02-01 00:00:00
<class 'datetime.datetime'>

####Exercicios de fundamentos

In [77]:
##Calculo de IMC
IMC = 126 / (1.71 * 1.71)

print('Meu IMC é: ', (round(IMC,2)))
print(f'Meu IMC é: {round(IMC,2)}')

Meu IMC é:  43.09
Meu IMC é: 43.09

In [79]:
##Calcular Juros Simples
Valor_01 = float( input('Qual a Taxa de Juros(%): ') )
Valor_02 = float( input('Qual o investimennto: ') )

Ganho = Valor_02 + ( Valor_02 * ( Valor_01 / 100 ) )

print('Eu investi:', Valor_02 )
print('Eu acumulei:', Ganho )

Qual a Taxa de Juros(%): 5
Qual o investimennto: 1000
Eu investi: 1000.0
Eu acumulei: 1050.0

In [80]:
# Ajuste de Data
Dia = int( input('Qual o dia de hoje: ') )
Mes = int( input('Qual o mes de hoje: ') )
Ano = int( input('Qual o Ano de hoje: ') )

# Consolidar
Data = str(Dia) + '/' + str(Mes) + '/' + str(Ano)

Conversao = datetime.strptime( Data, '%d/%m/%y' )

print(f'Data foi consolidade { Conversao }')

Qual o dia de hoje: 1
Qual o mes de hoje: 2
Qual o Ano de hoje: 22
Data foi consolidade 2022-02-01 00:00:00

In [81]:
# Calcular o metro quadrado

Altura = float( input('Qual a altura: '))
Largura = float( input('Qual a largura: '))

Quadrado = Altura * Largura

print('O metro quadrado é: ', round( Quadrado,2 ), 'm²' )

Qual a altura: 4
Qual a largura: 6
O metro quadrado é:  24.0 m²

In [82]:
# Verificação

Idade = int( input('Qual sua idade: ') )
Verificacao = Idade >= 18

print('Verificação: ', Verificacao )

Qual sua idade: 24
Verificação:  True

In [83]:
# Valor da Hipotenusa

# formula = a² + b² = c²
Cateto_Oposto = float( input('Qual o valor do cateto oposto: '))
Cateto_Adjacente = float( input('Qual o valor do cateto Adjacente: '))

Hipotenusa = ( Cateto_Oposto ** 2 + Cateto_Adjacente ** 2) ** (1/2)

print('Valor da Hipotenusa é:', round(Hipotenusa,2) )

Qual o valor do cateto oposto: 3
Qual o valor do cateto Adjacente: 4
Valor da Hipotenusa é: 5.0

In [84]:
# Sistema de RH
# Folha de Pagamento

Salario = float( input('Qual seu salário: '))

# Variaveis de desconto
INSS = 0.11
Vale_Ref = 0.04
Vale_Trans = 0.06
IR = 0.08

# Organizar esses descontos
Dicionario = {
    'INSS' : Salario * INSS,
    'Vale Ref' : Salario * Vale_Ref,
    'Vale Trans' : Salario * Vale_Trans,
    'IR' : Salario * IR
}

# Calcular o Debito
Debito = Dicionario['INSS'] + Dicionario['Vale Ref'] + Dicionario['Vale Trans'] + Dicionario['IR']

# Calculdo do Liquido
Liquido = Salario - Debito

print('Meu salario é:', Salario, '\n' )
print('Seguintes debitos:', Dicionario, '\n' )
print('Foi debitado: ', Debito, '\n' )
print('Fique feliz com essa quantia: ', Liquido )

Qual seu salário: 2000
Meu salario é: 2000.0

Seguintes debitos: {'INSS': 220.0, 'Vale Ref': 80.0, 'Vale Trans': 120.0, 'IR': 160.0}

Foi debitado:  580.0

Fique feliz com essa quantia:  1420.0

In [85]:
# Criando novos dados no dicionario
Dicionario['Valor Debitado'] = Debito
Dicionario['Valor Liquido'] = Liquido
Dicionario['Salario'] = Salario

Dicionario

{'INSS': 220.0,
 'IR': 160.0,
 'Salario': 2000.0,
 'Vale Ref': 80.0,
 'Vale Trans': 120.0,
 'Valor Debitado': 580.0,
 'Valor Liquido': 1420.0}

In [86]:
# Função para criar um Data Frame
from pandas import DataFrame

# PAssando o DF em um dicionario
Base_Dados = DataFrame( Dicionario, index=[0] )

# Verificando
Base_Dados

    INSS  Vale Ref  Vale Trans     IR  Valor Debitado  Valor Liquido  Salario
0  220.0      80.0       120.0  160.0           580.0         1420.0   2000.0

In [87]:
# Exportando resultados para excel
Base_Dados.to_excel('Teste.xlsx')