<a href="https://colab.research.google.com/github/jpshimidt/DataScience/blob/main/EDA_COVID_VARIANTES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#EDA - DADOS COVID 19

In [1]:
#Importando Libs para estudos

## Libs para manipulação de dados
import pandas as pd
import numpy as np

## Libs para visualização gráfica
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#Importando os dados
db = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/covid-variants.csv')

In [7]:
#Verificando se o import funcionou (Qtd linhas x Qtd Colunas)
db.shape

(100416, 6)

In [10]:
#Verificando se há valores nulos
db.isnull().sum()

location               0
date                   0
variant                0
num_sequences          0
perc_sequences         0
num_sequences_total    0
dtype: int64

In [9]:
#Visão do Data Base
db.head()

  location        date  ... perc_sequences  num_sequences_total
0   Angola  2020-07-06  ...            0.0                    3
1   Angola  2020-07-06  ...            0.0                    3
2   Angola  2020-07-06  ...            0.0                    3
3   Angola  2020-07-06  ...            0.0                    3
4   Angola  2020-07-06  ...            0.0                    3

[5 rows x 6 columns]

In [14]:
#Renomear os nomes das colunas
db_Portugues = db.rename(columns={'location': 'Localização' ,'date':'Periodo', 'variant' : 'Variante', 'num_sequences' : 'Número_Casos_Variante',
                                  'perc_sequences' : 'Porcentagem_Casos_Variante', 'num_sequences_total' : 'Total_Casos'})

In [15]:
#Visão do Data Base
db_Portugues.head()

  Localização     Periodo  ... Porcentagem_Casos_Variante  Total_Casos
0      Angola  2020-07-06  ...                        0.0            3
1      Angola  2020-07-06  ...                        0.0            3
2      Angola  2020-07-06  ...                        0.0            3
3      Angola  2020-07-06  ...                        0.0            3
4      Angola  2020-07-06  ...                        0.0            3

[5 rows x 6 columns]