<a href="https://colab.research.google.com/github/jpshimidt/DataScience/blob/main/EstudoPythonBibliotecas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Estudo da biblioteca Numpy (Alura)

##Verificando versão do Python

In [12]:
!python --version

Python 3.7.12

##Trabalhando com arrays Numpy

In [5]:
import numpy as np #Importando a biblioteca

In [7]:
km = np.loadtxt('carros-km.txt') #Importando os dados de KM por carros

In [8]:
anos = np.loadtxt('carros-anos.txt', dtype = int) #Importando os dados dos anos de cada carro

##Obtendo a quilometragem média por ano

In [9]:
km_media = km / (2020 - anos)

In [10]:
km_media

array([2.61235294e+03, 1.96965517e+02, 1.23743333e+03, 0.00000000e+00,
       1.83978571e+03, 1.34100000e+03, 0.00000000e+00, 7.05445455e+03,
       9.91970000e+03, 4.21977778e+03, 7.14388889e+02, 6.19384615e+02,
       4.72489474e+03, 0.00000000e+00, 3.76881818e+03, 2.89017500e+04,
       5.80612500e+03, 0.00000000e+00, 9.27150000e+03, 5.05766667e+03,
       5.62183333e+03, 0.00000000e+00, 3.77226923e+03, 3.55031034e+03,
       0.00000000e+00, 0.00000000e+00, 1.44875000e+03, 0.00000000e+00,
       3.26933333e+03, 3.25451724e+03, 1.31143478e+03, 2.13328000e+03,
       8.86000000e+03, 1.16579310e+03, 1.51140000e+04, 1.75900000e+03,
       0.00000000e+00, 0.00000000e+00, 5.02363636e+02, 0.00000000e+00,
       1.33450000e+04, 2.39776471e+03, 0.00000000e+00, 4.79455556e+03,
       0.00000000e+00, 5.41944444e+02, 4.37156250e+03, 1.26052632e+02,
       0.00000000e+00, 4.72641176e+03, 7.77763636e+03, 3.60685714e+03,
       3.38580000e+03, 6.71050000e+03, 3.53450000e+03, 3.11565385e+03,
       9.19330769e+03, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 3.96316667e+04, 5.38988889e+03,
       5.31115789e+03, 3.98537500e+03, 0.00000000e+00, 3.48057692e+03,
       0.00000000e+00, 2.24092308e+03, 9.15461538e+02, 6.53784615e+03,
       2.36500000e+03, 1.90935714e+03, 6.33271429e+03, 4.54753846e+03,
       9.48400000e+03, 5.08333333e+01, 0.00000000e+00, 0.00000000e+00,
       6.13666667e+02, 6.12361538e+03, 3.36755556e+03, 1.70932000e+03,
       0.00000000e+00, 0.00000000e+00, 2.94285000e+04, 1.26538889e+04,
       0.00000000e+00, 1.69505556e+03, 1.06952857e+04, 3.99200000e+04,
       2.08900000e+03, 5.35391667e+03, 4.43305000e+04, 2.67000000e+02,
       6.47741176e+03, 2.07593750e+03, 9.20010000e+03, 0.00000000e+00,
       5.83628571e+03, 3.71794737e+03, 0.00000000e+00, 1.82554000e+04,
       1.32720000e+04, 1.75320000e+04, 1.69653571e+03, 4.68715789e+03,
       1.06792593e+03, 4.42256000e+03, 3.33164706e+03, 2.89283333e+03,
       6.16791667e+03, 2.17085714e+03, 0.00000000e+00, 3.60700000e+03,
       0.00000000e+00, 0.00000000e+00, 6.85357143e+02, 1.98104000e+04,
       4.02992308e+03, 7.99633333e+03, 3.20016667e+04, 1.43813636e+03,
       0.00000000e+00, 3.81842857e+03, 0.00000000e+00, 5.29200000e+03,
       3.62776471e+03, 1.23142308e+03, 0.00000000e+00, 2.19015385e+03,
       0.00000000e+00, 1.73038000e+04, 2.00875000e+02, 4.39239130e+03,
       1.13722222e+03, 0.00000000e+00, 1.16267857e+03, 4.13556000e+03,
       0.00000000e+00, 1.84296667e+03, 0.00000000e+00, 0.00000000e+00,
       3.99758621e+03, 2.21456667e+03, 1.21000000e+04, 1.09515385e+03,
       2.84228571e+03, 5.65225000e+03, 6.38566667e+03, 1.32208333e+02,
       3.48379167e+03, 5.07120000e+03, 3.28274074e+03, 3.30571429e+02,
       3.75285714e+02, 4.73036364e+03, 0.00000000e+00, 0.00000000e+00,
       4.42094444e+03, 4.70439130e+03, 3.47513636e+03, 3.60518750e+03,
       4.02541667e+03, 2.18002000e+04, 6.55300000e+03, 3.06473333e+03,
       2.34200000e+03, 1.99628000e+03, 1.43037037e+03, 3.81225000e+03,
       1.05591429e+04, 4.88145455e+03, 4.57300000e+03, 0.00000000e+00,
       8.96200000e+03, 0.00000000e+00, 3.89830000e+03, 1.86145455e+03,
       1.76013333e+03, 6.32071429e+02, 5.09577778e+03, 1.10537931e+03,
       2.67450000e+03, 0.00000000e+00, 0.00000000e+00, 3.47926667e+03,
       8.35590000e+03, 0.00000000e+00, 5.08200000e+03, 0.00000000e+00,
       7.55770000e+03, 1.29457692e+03, 5.49163158e+03, 4.25166667e+03,
       7.90208333e+02, 3.22818519e+03, 2.46370370e+02, 2.93357895e+03,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.94769231e+03,
       0.00000000e+00, 1.71695000e+04, 1.19495000e+04, 0.00000000e+00,
       6.95660000e+03, 6.75440000e+03, 3.54695833e+03, 7.55888889e+02,
       2.37646667e+03, 3.80512000e+03, 6.68857143e+02, 2.74626667e+03,
       0.00000000e+00, 4.17826087e+03, 3.46333333e+03, 2.30600000e+03,
       3.51971429e+03, 0.00000000e+00, 3.69886667e+04, 1.77633333e+03,
       3.55793333e+03, 7.75153846e+02, 2.64977778e+03, 3.68965517e+00,
       2.89448276e+02, 1.80426087e+03, 5.80010000e+03, 7.75830769e+03,
       4.81964286e+03, 1.69940000e+03, 3.68333333e+02, 0.00000000e+00,
       2.43904167e+03, 0.00000000e+00, 0.00000000e+00, 1.86693333e+04,
       5.74000000e+03, 9.39891667e+03, 0.00000000e+00, 0.00000000e+00,
       1.16162500e+03, 0.00000000e+00, 2.29512500e+03, 5.42177778e+03,
       0.00000000e+00, 8.96850000e+03, 6.56800000e+03, 3.77338462e+03,
       5.48307692e+03, 4.58416667e+03, 1.03382759e+03, 2.92427778e+03,
       3.20208333e+02, 1.79242857e+03])

#Estudo da biblioteca Pandas (Alura)

In [11]:
import pandas as pd
# pd.set_option('display.max_rows', 10)
# pd.set_option('display.max_rows', 1000)

In [14]:
dataset = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/db.csv',sep=';')

In [15]:
dataset

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [16]:
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [17]:
dataset[['Quilometragem','Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [18]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB